# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common libraries for Data Science
* List 3 Data Science Tools
* Evaluating arithmetic expressions in Python
* Convert 200 minutes to hours by dividing by 60

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java
6. VBA
7. javaScript
8. C++
9. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. Scikit-learn
5. SciPy
6. TensorFlow
7. Keras
8. PyTorch
9. Seaborn

Data Science Tools |
------------------|
Apache Hadoop |
Apache Spark |
Jupiter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
3+5

8

In [2]:
9-2

7

In [3]:
6*3

18

In [4]:
15/3

5.0

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Tsopnang Saounde Romaric